.languages{
    position:absolute;
    top: 1030px;
    left: 0;
    right: 0;

    .languages-container{
        max-width: 730px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        .languages-head{
            display: flex;
            justify-content: space-between;
        }

        .languages-info{
            display: grid;
            grid-template-columns: 1fr, 1fr;
        }
    }

}

