.repositories{
    position:absolute;
    top: 1520px;
    left: 0;
    right: 0;

    .repositories-container{
        max-width: 730px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        .repositories-head{
            display: flex;
            justify-content: space-between;
        }
    }

}

